.Joke {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
  width: 775px;
  border-bottom: 1px solid lightgrey;
  padding-right: 5px;
  padding-left: 5px;
}

.Joke:last-of-type {
  border-bottom: none;
}

.Joke-score-div {
  width: 100px;
}

.Joke-string-div {
  display: flex;
  justify-content: flex-start;
  /* align-content: center; */
  width: 625px;
}

.Joke-string {
}
