@import url("https://fonts.googleapis.com/css?family=Chilanka|Source+Sans+Pro:400,700&display=swap");

.JokeList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JokeList-dash {
  height: 600px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #98dfea;
  border-radius: 6px;
  box-shadow: 13px 14px 16px -7px rgba(0, 0, 0, 0.33);
}

.JokeList-title {
  font-size: 50px;
  margin: 15px 0;
}

.JokeList-title .dad {
  font-family: "Chilanka", cursive;
}

.JokeList-title .jokes {
  font-family: "Chilanka", cursive;
}

.JokeList-emoji {
  font-size: 125px;
  margin: 10px 0px;
}

.JokeList-emoji:hover {
  animation: shake 1s infinite linear;
}

.JokeList-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 150px;
  margin: 10px 0px;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #3e4266;
  transition: 0.5s;
}

.JokeList-btn:hover {
  background-color: #8f3985;
  font-weight: bold;
}

.loading {
  font-size: 50px;
  animation: rotate 1.5s infinite linear;
}

.JokeList-jokes-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 500px;
  width: 775px;
  position: relative;
  overflow: hidden;
  border-radius: 0px 6px 6px 0px;
  background-color: #fff3ed;
  box-shadow: 13px 14px 16px -7px rgba(0, 0, 0, 0.33);
}

.JokeList-jokes {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.JokeList-jokes::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@keyframes shake {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -4px) rotate(-2deg);
  }
  20% {
    transform: translate(-6px, 0px) rotate(2deg);
  }
  30% {
    transform: translate(6px, 4px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(2deg);
  }
  50% {
    transform: translate(-2px, 4px) rotate(-2deg);
  }
  60% {
    transform: translate(-6px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(6px, 2px) rotate(-2deg);
  }
  80% {
    transform: translate(-2px, -2px) rotate(2deg);
  }
  90% {
    transform: translate(2px, 4px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -4px) rotate(-2deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
