.JokeList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JokeList-dash {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.JokeList-btn {
}

.loading {
  font-size: 50px;
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.JokeList-jokes-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 600px;
  width: 815px;
  position: relative;
  overflow: hidden;
  border: 1px solid black;
}

.JokeList-jokes {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  box-sizing: content-box;
  margin-left: 15px;
}

/* .JokeList-jokes::-webkit-scrollbar {
  width: 12px;
} */

/* .JokeList-jokes.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.JokeList-jokes.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
} */
